@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  -ms-box-sizing: $value;
  box-sizing: $value;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transform($value) {
  -moz-transform: ($value);
  -ms-transform: ($value);
  -webkit-transform: ($value);
  -o-transform: ($value);
  transform: ($value);
}

@mixin transition($value) {
  -webkit-transition: ($value);
  -moz-transition: ($value);
  -o-transition: ($value);
  transition: ($value);
}

@mixin after {
  content: "";
  display: block;
  clear: both;
}

@mixin standard-panel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
  background-color: $lightest-gray;
  margin: 10px;
  display: none;
  padding: 15px;
  color: $gray;

  &.shown {
    display: block;
  }
}