* {
  @include box-sizing(border-box);
  font-family: 'Ubuntu', sans-serif;
}

input,
button,
textarea {
  outline: none;
  border: none;
}

a {
  color: $blue;
}

.wrapper {
  background-color: $background;
  padding: 15px;
  min-height: 100vh;
  position: relative;

  .filter-wrap {
    position: relative;
    margin-bottom: 20px;

    &:before {
      @include transform(translateY(-50%));
      position: absolute;
      content: "\f002";
      left: 10px;
      top: 50%;
      z-index: 2;
      font-family: FontAwesome;
    }
  }

  .name-filter {
    @include border-radius(20px);
    width: 100%;
    border: solid 1px $gray;
    font-size: 12px;
    padding: 5px 10px 5px 35px;
    position: relative;
  }

  .contacts-list {
    margin: 20px 0 30px;
    display: block;

    &.hidden {
      display: none;
    }

    &_item {
      @include transition(all 0.5s ease-in);
      padding: 10px;
      height: 65px;
      background-color: $light-purple;
      margin-bottom: 1px;

      &_details,
      &_edit {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        overflow: hidden;
        background-color: $lightest-gray;
        margin: 10px;
        display: none;
        padding: 15px;
        color: $gray;

        &.shown {
          display: block;
        }

        h1 {
          margin-top: 0;
          font-weight: 100;
        }

        .title {
          font-weight: bold;
          margin-bottom: 5px;
        }
      }

      &_edit {
        label {
          display: block;
        }

        input,
        textarea {
          width: 100%;
          border: solid 1px $black;
          margin-bottom: 10px;
          color: $gray;
          padding: 5px 10px;

          &.country-code {
            width: 20%;
            margin-right: 3%;
          }

          &.phone {
            width: 71%;
          }
        }
      }

      * {
        opacity: 1;
        @include transition(opacity 0.2s ease-in);
      }

      &:after {
        @include after;
      }

      &.hiding {
        @include transform(translateX(100%));
        height: 0;
        padding: 0;
        margin-bottom: 0;

        * {
          opacity: 0;
        }
      }

      > div {
        display: inline-block;
        vertical-align: middle;

        &.icon {
          width: 20%;
          font-size: 22px;
          color: $dark-gray;
          text-align: center;
        }

        &.contact {
          width: 55%;
          text-align: left;
          line-height: 1;

          p {
            margin: 0;
          }
        }

        .mail,
        .phone {
          display: block;
          font-size: 14px;
          color: $purple;
        }

        &.edit,
        &.delete {
          width: 10%;
          text-align: right;
        }

        &.delete {
          i {
            @include transform(rotate(45deg));
            color: $dark-gray;
            font-size: 20px;
            text-shadow: 4px 4px 2px rgba(150, 150, 150, .6);
          }
        }
      }
    }
  }

  .buttons {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;


    &:after {
      @include after;
    }

    button {
      @include box-shadow(0px 2px 5px -1px rgba(112, 112, 112, 1));
      padding: 10px 30px;
      background-color: $blue;
      color: $dark-gray;
      font-size: 14px;
      cursor: pointer;

      &:first-child {
        float: left;
      }

      &:last-child {
        float: right;
      }
    }
  }

  .add-panel {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    padding: 20px;
    background-color: $light-gray;

    &_form {
      color: $dark-gray;

      label {
        display: block;
      }

      input {
        width: 100%;
        margin-bottom: 15px;
        height: 30px;
        padding: 5px 10px;

        &.country-code {
          width: 20%;
          margin-right: 3%;
        }

        &.phone {
          width: 71%;
        }
      }

      textarea {
        width: 100%;
        border: none;
        margin-bottom: 30px;
      }

      .error-message {
        display: none;
        color: chocolate;
      }
    }
  }

  .plus {
    width: 2%;
  }

  .load-base {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: $light-purple;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    &.shown {
      display: block;
    }
  }
}