body
{
  background-color: rebeccapurple;
  color: cadetblue;

  section
  {
    background-color: aquamarine;
    color: darkcyan;
  }

  h1
  {
    color: azure;
    font-weight: 900;
  }

  h3
  {
    font-size: 56px;
    span
    {
      color: azure;
    }
  }
}

