<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <title>Phone Book</title>

    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="all" href="styles/main.css">
    <!--<link rel="stylesheet" href="../../../font-awesome/css/font-awesome.min.css">-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
    <script type="text/javascript" src="scripts/main.js"></script>
    <script type="text/javascript" src="scripts/plugins.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="filter-wrap">
            <input type="text" placeholder="Filter by name" name="filter" class="name-filter" >
        </div>

        <script id="contactsListItem" type="text/template">
            {{#shows}}
                <div id='{{id}}' class="contacts-list_item">
                    <div class="icon"><i class="fa fa-address-book-o" aria-hidden="true"></i></div>
                        <div class="contact">
                            <p class="name">{{name}}</p>
                            <p class="mail">{{email}}</p>
                            <p class="phone">{{phone}}</p>
                        </div>
                    <div class="edit"><i class="fa fa-pencil edit-btn" aria-hidden="true"></i></div>
                    <div class="delete"><i class="fa fa-plus-circle delete-btn" {{dataId}}='{{id}}' aria-hidden="true"></i></div>
                </div>
            {{/shows}}
        </script>

        <div id="contacts-list" class="contacts-list"></div>

        <div class="buttons">
            <button>Countries</button>
            <button id="add-contact">Add New</button>
        </div>

        <div class="add-panel">
            <form class="add-panel_form">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" class="form-field" required>

                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" class="form-field" required>

                <label for="phone">Phone</label>
                <div class="error-message">Please use correct format (country code - operator/city code - number</div>
                <input type="tel" id="phone" class="form-field" required>

                <label for="email">Email</label>
                <input type="email" id="email" class="form-field" required>

                <label for="note">Note</label>
                <textarea id="note" class="form-field" required></textarea>
            </form>

            <div class="buttons">
                <button id="cancel-add">Cancel</button>
                <button type="submit" id="add">Add</button>
            </div>
        </div>

        <script id="contactsListItemDetails" type="text/template">
            {{#details}}
                <h1>{{name}}</h1>
                <p class="title">Email:</p>
                <p>{{email}}</p>
                <p class="title">Phone Number:</p>
                <p>{{phone}}</p>
                <p class="title">Notes:</p>
                <p>{{note}}</p>
            {{/details}}
            <div class="buttons">
                <button id="cancel-view">Cancel</button>
                <button>Edit</button>
            </div>
        </script>
        <div id="item-details" class="contacts-list_item_details"></div>
    </div>
</body>
</html>