<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <title>Phone Book</title>

    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="all" href="styles/main.css">
    <!--<link rel="stylesheet" href="../../../font-awesome/css/font-awesome.min.css">-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
    <script src="../../scripts/main.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="filter-wrap">
            <input type="text" placeholder="Filter by name" name="filter" class="name-filter" >
        </div>

        <div class="contacts-list">
            <!--<div class="contacts-list_item">-->
                <!--<div class="icon"><i class="fa fa-address-book-o" aria-hidden="true"></i></div>-->
                <!--<div class="contact">-->
                    <!--<p class="name">Adrian Alder</p>-->
                    <!--<p class="mail">mail@gmail.com</p>-->
                    <!--<p class="phone">375293338073</p>-->
                <!--</div>-->
                <!--<div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>-->
                <!--<div class="delete"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>-->
            <!--</div>-->
        </div>
        <div class="buttons">
            <button>Countries</button>
            <button id="add-contact">Add New</button>
        </div>
        <div class="add-panel">
            <form class="add-panel_form">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-field">

                <label for="phone">Phone</label>
                <input type="tel" id="phone" class="form-field">

                <label for="email">Email</label>
                <input type="email" id="email" class="form-field">

                <label for="note">Note</label>
                <textarea id="note" class="form-field"></textarea>
            </form>

            <div class="buttons">
                <button id="cancel">Cancel</button>
                <button id="add">Add</button>
            </div>
        </div>
    </div>
</body>
</html>