<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <title>Phone Book</title>

    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="all" href="styles/main.css">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">

</head>
<body>
    <div class="wrapper">
        <input type="text" class="name-filter" placeholder="filter by name" name="filter">
    </div>
</body>
</html>